.documents {
  padding: 50px 0 0;

  .container {
    max-width: 1160px;
  }
}

.documents__slider-container {
  position: relative;
  padding-top: 50px;
}

.documents__slider-slide {
  width: 257px;
  margin-right: 31px;
  padding: 28px 20px;
  background-color: $color-default-white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.documents__slider-wrapper.swiper-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 20px;
}

.documents__slider-nav {
  position: absolute;
  height: 56px;
  width: 128px;
  display: flex;
  justify-content: space-between;
  top: 30px;
  right: 0;
}
